image: ubuntu:latest

before_script:
   - apt-get update && apt-get install -y libboost-all-dev make wget build-essential cmake curl unzip libprotobuf-dev libprotoc-dev protobuf-compiler
   - cmake --version
#   - ./generateProtobuff.sh

stages:
  - build
  - test

buildLibAndBinaries:
  stage: build
  script:
   - ./build.sh

testLibWithBinaries:
  stage: test
  script:
    - ./test.sh
