# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
LibNetworks.cbp
*.cbp
build/
.vs/
CMakeSettings.json
Debug/
Release/
proto/test.pb.cc
proto/test.pb.h
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/LibNetworks.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/lib_src/cubznetworks.vcxproj
/lib_src/cubznetworks.vcxproj.filters
/proto/proto.vcxproj
/proto/proto.vcxproj.filters
/tests/client/client.vcxproj
/tests/client/client.vcxproj.filters
/tests/server/server.vcxproj
/tests/server/server.vcxproj.filters
lib_src/proto/
.vscode/
