image: ubuntu:latest

before_script:
   - apt-get update && apt-get install -y libboost-all-dev make wget build-essential cmake curl unzip software-properties-common
   - add-apt-repository ppa:maarten-fonville/protobuf
   - apt-get update
   - apt-get install -y libprotobuf-dev libprotoc-dev protobuf-compiler
   - cmake --version

stages:
  - build
  - test

buildAndTestLibAndBinaries:
  stage: build
  script:
   - ./build.sh
   - ./test.sh
